{% extends 'base.html' %}
{% load static %}
{% block content %}



<section class="about">
<h1>MBA for CEO</h1>
<h2>This is platform to transform life of humanity around the World with opportunity to learn from leader around the world and best MBA programm for CEO</h2>
<h1>Which Kind of MBA Program is Right for YOU?</h1><h3> If you’ve decided to return to school for business, you’ll want to choose the program that best fits your career goals, experience, and the amount of time you want to put in. The MBA for CEO is not the only option: schools offer plenty of different MBA programs based on your level of work experience, your geographical distance from the program and the amount of time you are able to devote to the program.</h3>
</section>

{% endblock %}