{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}
{% endblock %}

{% block content %}
{% trans "Sign Up" %}



<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="login-form spacer" id="signup-form" method="POST" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>

  <div class="input-group">
    <img class="icon input-icon" src="{% static 'icons/key.svg' % }" alt="">
    {{form.email}}
  </div>

</form>

{% endblock %}
